<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>&lt;Me.Blog /&gt;</title>
    <style>
      h1 {
        text-align: center;
        margin: 0 0 3rem;
      }

      img {
        display: block;
        margin: 0 auto;
        width: min(50%, 300px);
      }
    </style>
  </head>
  <body>
    <div class="container">
      <header>
        <h1>The page requested is not found</h1>

        <img src="https://image.flaticon.com/icons/svg/3067/3067862.svg" alt="page not found" />
      </header>
    </div>
  </body>
</html>
